app-target-color {
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
}
.app_targetColor__container {
  background-color: var(--black);
  padding: 2vmin;
  grid-area: terget;
  height: 40vmin;
  width: 40vmin;
  box-sizing: border-box;
}
.app_targetColor__container > .app_targetColor__result {
  background-color: rgb( 255, 255, 255);
  width: 36vmin;
  height: 36vmin;
  display: flex;
  box-sizing: border-box;
}
