
.app_modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .85);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}
.app_modal__container {
  display: block;
}
.app_modal__header{
  min-height: 3.5vh;
  max-width: 70vw;
  height: 3vh;
  padding: 1vh;
  background-color: #fff;
}
.app_modal__body{
  display: flex;
  justify-content: center;
}

.app_modal__footer {
  min-height: 3.5vh;
  max-width: 70vw;
  height: 3vh;
  padding: 1vh;
  background-color: #f00;
}
