app-footer{
  background-color:var(--black);
  grid-area: footer;
  display: grid;
  grid-template-rows: .5vh;
  transition-timing-function: ease;
  transition: 0.3s;
  box-sizing: border-box;
  border-bottom: 1vh solid #000;
  /* border-top: .1vh solid #fff; */
  /* border-top: .5 solid transparent; */
}

.app_footer__container {
  box-sizing: border-box;
  display: grid;
  transition-timing-function: ease;
  transition: 0.5s;
  grid-template-columns: 75% 25%;
  color: #ffffff;
  padding: .5vh 1vw;
}

.app_footer__container > span {
  visibility: hidden;
}

app-footer:hover {
  background-color: #000000;
  grid-template-rows: 5vh;
}

.app_footer__container:hover {
  color: #ffffff;
  padding: .5vh 1vw;
}

.app_footer__container:hover > span {
    visibility: visible;
}
