:root {
  --main-bg-color: coral;
}
*{
  /* padding: .5vmin; */
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  padding: 0;
  background-color: var(--main-bg-color);
  justify-content: space-between;
}
h1 {
  margin: 1vmin;
}
@import url("./modules/modal/modal.styles.css")
