
/* IMPORTS */
@import url("./styles/variables.css");
@import url("./styles/globals.css");


body {
  background-color: var(--main-bg-color);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7vh auto 5vh;
  grid-template-areas: 'header' 'main' 'footer';
  grid-gap: .5vh;
  height: 100vh;
  margin: 0;
}

.app_main__container {
  grid-area: main;
  background-color: transparent;
  text-align: center;
}
@import url("./modules/modal/modal.styles.css")
