:root {
  /* COLORS */
  --black: #161616;
  --grey-dark: #2f2f2f;
  --purple-dark: #3e256d;
  --purple: #533194;
  --purple-light: #683cbc;
  --green: #368a4d;
  --blue: #374e99;
  --pink: #a8388a;
  --yellow: #b89a38;
  --white: #ffffff;
  --main-bg-color:#ffffff;

  /* SIZES */
  --header-footer-full-height: 8vmin;
}

