.app_header__container {
  display: flex;
  justify-content: space-between;
  padding: 1vmin;
  background-color: black;
  color: white;
  align-items: center;
  box-sizing: border-box;
  margin-top: -50px;
}
.app_header__container:hover{
  margin-top: 0;
}
