
app-slider-rgb {
  background-color: skyblue;
}

.app_sliderRGB__container {
  background-color: transparent;
}
.app_sliderRGB_group {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 6vmin 6vmin;
  grid-gap: .5vh;
  margin: 0;
  grid-template-areas: 'rgbSlide rgbValue rgbPorcent';
  width: 98vw;
}

.app_sliderRGB_display{
  width: 8vmin;
  height: 5.5vmin;
  padding: .5vmin;
  display: flex;
  align-items: center;
  font-size: 2vmin;
  box-sizing: border-box;
  text-align: center;
}

.app_sliderRGB_input {
  grid-area: rgbSlide;
  margin-right: 1vw;
}

.app_sliderRGB_value {
  grid-area: rgbValue;
}
.app_sliderRGB_porcentage {
  grid-area: rgbPorcent;
}
